.clippy {
    margin-top: -3px;
    position: relative;
    top: 3px;
}
.btn[disabled] .clippy {
    opacity: 0.3;
}

.snippet {
    position: relative;
    overflow: visible;
}
.snippet code {
    font-size: 14px;

}
.snippet .btn {
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    padding: 2px 6px;
    position: absolute;
    right: 4px;
    top: 4px;
}
.snippet:hover .btn,
.snippet .btn:focus {
    opacity: 1;
}
@media screen and (max-width: 768px) {
    .snippet .btn {
        opacity: 1;
    }
}

#nopad {
	padding: 0px;
}
