<footer class="footer">
    <div class="tile is-parent">
        <div class="tile is-child is-6">
            <h3 class="title is-3"> Join our community!</h3>
            <p>Read about the latest plans and developments in our newsletter.</p>
            <br>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
                hbspt.forms.create({
                    region: "na1",
                    portalId: "22417908",
                    formId: "15ee5944-53cb-4062-b36b-cac7d0d16cd3"
                });
            </script>
        </div>
        <div class="tile is-child is-6">
            <div class="content has-text-centered">
                <p>
                    <strong>RageDB</strong> by <a href="https://maxdemarzi.com" target="_blank">Max De Marzi</a>.
                </p>
                <p>
                    The  <a href="https://github.com/ragedb/ragedb" target="_blank">source code</a> is licensed
                    <a href="https://opensource.org/licenses/Apache-2.0" target="_blank">Apache License, Version 2.0</a>.
                </p>
                <p>
                    Help improve this website by sending <a href="https://github.com/ragedb/ragedb.github.io" target="_blank">a pull request!</a>
                </p>
            </div>
        </div>
    </div>
</footer>