<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>RageDB</strong> by <a href="https://maxdemarzi.com" target="_blank">Max De Marzi</a>. The  <a href="https://github.com/ragedb/ragedb" target="_blank">source code</a> is licensed
            <a href="https://opensource.org/licenses/Apache-2.0" target="_blank">Apache License, Version 2.0</a>. Help improve this website by sending <a href="https://github.com/ragedb/ragedb.github.io" target="_blank">a pull request!</a>
        </p>
    </div>
</footer>