<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://ragedb.com">
            <img src="/images/mascot-logo-wide.png" alt="RageDB: In Memory Property Graph Server"  height="48">
        </a>
        <div class="navbar-burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="https://ragedb.com">
                Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                    Posts
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="https://maxdemarzi.com/2021/07/08/lets-build-something-outrageous/">
                        Overview
                    </a>
                    <a class="navbar-item" href="https://maxdemarzi.com/2021/07/12/lets-build-something-outrageous-part-2/">
                        Shards are ok!
                    </a>
                    <a class="navbar-item" href="https://maxdemarzi.com/2021/07/13/lets-build-something-outrageous-part-3/">
                        Node Types
                    </a>
                    <a class="navbar-item" href="https://maxdemarzi.com/2021/07/14/lets-build-something-outrageous-part-4/">
                        Creating and Retrieving Nodes
                    </a>
                    <a class="navbar-item" href="https://maxdemarzi.com/2021/07/19/lets-build-something-outrageous-part-5-properties/">
                        Properties
                    </a>
                    <a class="navbar-item" href="https://maxdemarzi.com/2021/07/26/lets-build-something-outrageous-part-6-relationships/">
                        Relationships
                    </a>
                    <a class="navbar-item" href="https://maxdemarzi.com/2021/07/27/lets-build-something-outrageous-part-7-performance/">
                        Performance
                    </a>
                    <a class="navbar-item" href="https://maxdemarzi.com/2021/07/29/lets-build-something-outrageous-part-8-queries-with-lua/">
                        Queries with Lua
                    </a>
                    <a class="navbar-item" href="https://maxdemarzi.com/2021/08/03/lets-build-something-outrageous-part-9-docker/">
                        Docker
                    </a>
                    <a class="navbar-item" href="https://maxdemarzi.com/2021/08/09/lets-build-something-outrageous-part-10-nulls/">
                        Nulls
                    </a>
                    <a class="navbar-item" href="https://maxdemarzi.com/2021/08/16/lets-build-something-outrageous-part-11-testing/">
                        Testing
                    </a>
                    <a class="navbar-item" href="https://maxdemarzi.com/2021/08/24/lets-build-something-outrageous-part-12-finding-things/">
                        Finding Things
                    </a>
                    <a class="navbar-item" href="https://maxdemarzi.com/2021/08/30/lets-build-something-outrageous-part-13-finding-things-faster/">
                        Finding Things Faster
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                    HTTP API
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/documentation/http_api/schema.html">
                        Schema
                    </a>
                    <a class="navbar-item" href="/documentation/http_api/property_types.html">
                        Property Types
                    </a>
                    <a class="navbar-item" href="/documentation/http_api/nodes.html">
                        Nodes
                    </a>
                    <a class="navbar-item" href="/documentation/http_api/node_properties.html">
                        Node Properties
                    </a>
                    <a class="navbar-item" href="/documentation/http_api/relationships.html">
                        Relationships
                    </a>
                    <a class="navbar-item" href="/documentation/http_api/relationship_properties.html">
                        Relationship Properties
                    </a>
                    <a class="navbar-item" href="/documentation/http_api/node_degrees.html">
                        Node Degrees
                    </a>
                    <a class="navbar-item" href="/documentation/http_api/node_neighbors.html">
                        Node Neighbors
                    </a>
                    <a class="navbar-item" href="/documentation/http_api/lua.html">
                        Lua
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                    Lua
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/documentation/lua/overview.html">
                        Overview
                    </a>
                    <a class="navbar-item" href="/documentation/lua/node.html">
                        Node
                    </a>
                    <a class="navbar-item" href="/documentation/lua/relationship.html">
                        Relationships
                    </a>
                    <a class="navbar-item" href="/documentation/lua/link.html">
                        Link
                    </a>
                    <a class="navbar-item" href="/documentation/lua/all.html">
                        All
                    </a>
                    <a class="navbar-item" href="/documentation/lua/node_degrees.html">
                        Node Degrees
                    </a>
                    <a class="navbar-item" href="/documentation/lua/node_neighbors.html">
                        Node Neighbors
                    </a>
                    <a class="navbar-item" href="/documentation/lua/node_properties.html">
                        Node Properties
                    </a>
                    <a class="navbar-item" href="/documentation/lua/node_type.html">
                        Node Type
                    </a>
                    <a class="navbar-item" href="/documentation/lua/node_types.html">
                        Node Types
                    </a>
                    <a class="navbar-item" href="/documentation/lua/property_types.html">
                        Property Types
                    </a>
                    <a class="navbar-item" href="/documentation/lua/relationship_properties.html">
                        Relationship Properties
                    </a>
                    <a class="navbar-item" href="/documentation/lua/relationship_type.html">
                        Relationship Type
                    </a>
                    <a class="navbar-item" href="/documentation/lua/relationship_types.html">
                        Relationship Types
                    </a>
                    <a class="navbar-item" href="/documentation/lua/traversing_relationship_ids.html">
                        Traversing Relationship Ids
                    </a>
                    <a class="navbar-item" href="/documentation/lua/traversing_relationships.html">
                        Traversing Relationships
                    </a>
                </div>
            </div>
            <a class="navbar-item" href="/timeline.html">
                Timeline
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-link box" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://ragedb.com" target="_blank" href="https://twitter.com/intent/tweet?text=RageDB: In Memory Property Graph Server https://ragedb.com">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span><span>Tweet</span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button is-primary is-light box" href="https://join.slack.com/t/newworkspace-5o83001/shared_invite/zt-t7hezuc1-WtuxyEey3Uv5GA9VeALQ0g">
              <span class="icon">
                <i class="fab fa-slack-hash"></i>
              </span><span>Slack</span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button is-dark box" href="https://github.com/ragedb/ragedb">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span><span>Source Code</span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button box is-info" href="https://hub.docker.com/r/ragedb/ragedb">
              <span class="icon">
                <i class="fab fa-docker"></i>
              </span><span>Docker</span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button is-primary box" href="https://github.com/ragedb/ragedb/archive/refs/heads/main.zip">
              <span class="icon">
                <i class="fas fa-download"></i>
              </span><span>Download</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>