<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="stylesheet" href="/css/ragedb_styles.css">
    <script src="https://kit.fontawesome.com/cb42bcbaba.js" crossorigin="anonymous"></script>
    {% feed_meta %}
    {% seo %}
</head>
<body>
    {% include navigation.html %}
    {{ content }}
</body>
</html>